@use "../custom" as *;
@use "../components/mixins" as *;

.blog-card {
  &__img{
    border-radius: .5rem;
  }
  &__body{
    padding: 0;
    margin-top: 1rem;
    .title{
      margin-top: .5rem;
      a{
        color: $gray-800;
        font-size: 1.2rem;
      }
    }
    .text{
      margin-bottom: 0;
      font-size: .95rem;
    }
    .blog-btn{
      text-decoration: underline;
     line-height: 1;
    }
  }
 
  &__list {
    li {
      color: $gray-700;
    }
  }

}
@media (max-width: 576px) {
  .blog-section {
    padding: 0 2rem;
  }
}
