@use "../custom" as *;
@use "../components/mixins" as *;

  .investor-card {
    position: relative;
    padding: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: all 0.3s ease;
    background-color: $white;
    border-radius: .5rem;

    &:hover {  
      // transform: translateY(-0.3rem);
      // transition: all 0.3s ease;
      // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
      background-color: $primary;
      transition: all 0.3s ease;
      color: $white;
      img{
        opacity: 0.6;
      }
      .investor-card__body{
        .title{
          color: $white;
        }
        .text{
          color: $white;
        }
      }
      .investor-card__icon{
        opacity: 1;
        visibility: visible;
        animation-name: leFadeInBottom;
        @keyframes leFadeInBottom {
          from {
            opacity: 0;
            transform: translateY(100%);
          }
          to {
            opacity: 1;
          }
        }
      }
      
    }
    &__icon{
    @include absoluteCenter;
    opacity: 1;
    visibility: hidden;
    .product-icon {
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: $white;
      transition: all 0.3s ease;

      i {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
      &:hover {
        background-color: $primary;
        color: $white;
        transition: all 0.3s ease;
      }
    }
    }
    &__image{
      img{
        border-radius: 50%;
      }
    }
    &__body {
      padding-top: 1.2rem;
      text-align: center;
      .title{
        color: $gray-700;
      }
      .text{
        font-size: 1rem;
        color: $primary;
        margin-bottom: 0;
      }
    }
  }

