@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
h6 {
  font-size: 1.4rem;
  font-weight: 500;
}

.ptb {
  padding: 5rem 0;
}
.pb {
  padding-bottom: 5rem;
}
.pt {
  padding-top: 5rem;
}
@media (max-width: 1023px) {
  .ptb {
    padding: 4rem 0;
  }
  .pb {
    padding-bottom: 4rem;
  }
  .pt {
    padding: 4rem 0;
    padding-top: 4rem;
  }
}
@media (max-width: 767px) {
  .ptb {
    padding: 3.5rem 0;
  }
  .pb {
    padding-bottom: 4rem;
  }
  .pt {
    padding-top: 4rem;
  }
}
@media (max-width: 500px) {
  .ptb {
    padding: 3rem 0;
  }
  .pb {
    padding-bottom: 4rem;
  }
  .pt {
    padding-top: 4rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}
